<div class="p-2 w-full">
    <section class="grid gap-4 grid-cols-2 grid-rows-1" style="grid-template-columns: 30% 70% !important;">
        <div class="col-span-1">
                <mat-card>
                    <mat-card-content>
                        <div class="flex flex-col">
                            <picture>
                                <source class="rounded" type="image/webp" srcset="assets/images/fallback.webp" style="width: 100px; height: 100px">
                                <img  class="rounded" style="width: 100px; height: 100px" src="assets/images/fallback.jpeg" alt="" type="image/jpeg">
                            </picture>
                            
                            <h1 class="text-5xl text-my-purple" >{{ information.full_name }}</h1>
                            <h1 class="text-3xl">{{ information?.email }}</h1>
                        </div>
                        <hr>
                        <div class="flex flex-col">
                            <h1><span class="font-bold">คณะ</span>: {{ information.major_name }} </h1>
                            <h1><span class="font-bold">สาขา</span>: {{ information.faculty_name }} </h1>
                        </div>
                    </mat-card-content>
                </mat-card>
        </div>
        <div class="col-span-1">
            <mat-card style="background-color: #F2F2F2">
                <mat-card-header>
                    <mat-card-title>คอร์สที่เรียนจบแล้ว</mat-card-title>                    
                </mat-card-header>
                <mat-card-content>
                    <ng-template [ngIf]="!subject?.length">
                        <span>ยังไม่มีวิชาที่เรียนจบ</span>
                    </ng-template>
                    <ng-template [ngIf]="subject?.length">
                        <div class="cert_card" *ngFor="let subject of subject">
                            <div class="grid gap-4 grid-cols-2 grid-rows-1" style="grid-template-columns: 30% 45% 20% !important;">
                                <div class="row-span-1 col-start-1">
                                    <picture>                                    
                                        <img  class="rounded" style="max-height: 180px;" [src]="subject.subject_image" alt="">    
                                    </picture>
                                </div>
                                
                                <div class="col-start-2 flex flex-col justify-center">
                                    <span>{{ subject.faculty_name }}</span>
                                    <span class="font-bold text-lg2 text-5xl">{{ subject.subject_name_th }}</span>
                                    <span>Complete: {{ subject.end_test_datetime | thaidate}}</span>
                                </div>
                                <div class="col-start-3 flex flex-col justify-center">
                                    <button mat-raised-button class="primary_button" (click)="open()">ใบประกาศ</button>
                                    <!-- <button mat-raised-button class="primary-button">ยืนคำร้อง</button> -->
                                </div>
                            </div>
                            
                        </div>
                    </ng-template>                
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</div>  