<div class="flex flex-col flex-auto w-full min-w-0">
  <!-- Header -->
  <div #toolbar
    style="position: fixed;transition: 0.5s"
    class="flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-black  print:hidden"
  >
  <div style="width: 80%;">
  <picture routerLink="/app/main" class="cursor-pointer">
      <source type="image/webp" srcset="assets/images/logo/logo.webp" style="width: 200px; height: 50px">
      <img
        src="assets/images/logo/logo.webp"
        style="width: 200px; height: 50px"
        type="image/webp"
      />
    </picture>
  </div>
    
    
    <div
      class="flex flex-row justify-between items-center pl-2 ml-auto space-x-2"
      style="border-left: 1px solid white ;width: 20%;"
    >
      <ng-container *ngIf="!isLoggedIn">
        <div style="width: 50%">
          <span class="mr-10 cursor-pointer text-white" (click)="openLoginDialog()"
          >เข้าสู่ระบบ</span
        >
        </div>
        <div style="width: 50%">
          <button
          class="mx-10 primary_button"
          mat-raised-button
          (click)="openRegisterDialog()"
        >
          Register
        </button>
        </div>
        
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <div style="width: 50%">
          <span class="text-white" *ngIf="(user$ | async ) as user"> {{  user.full_name}}  </span>
        </div>

        <div style="width: 50%;text-align: end;">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon [svgIcon]="'heroicons_outline:menu'" style="color: white;"></mat-icon>
          </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/app/profile']">
                  <span>Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <span>Logout</span>
                </button>
              </mat-menu>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Content -->
  <div class="flex flex-col flex-auto mt-16">
    
    <router-outlet *ngIf="true"></router-outlet>
  </div>

  <!-- Footer -->
  <br />
  <div
    class="items-center w-full h-30 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent"
    style="text-align: center"
  >
    <br />
    <mat-icon style="color: #662d91">facebook</mat-icon>&nbsp;
    <mat-icon style="color: #662d91">whatsapp</mat-icon>&nbsp;
    <mat-icon style="color: #662d91">language</mat-icon>
   
    <br />
    <span style="text-align: center; color: #662d91"
      >RMUTP MOOC | การเรียนรู้แบบไร้ขีดจำกัด ทุกที่ ทุกเวลา</span
    >
  </div>
</div>
