<!-- <div class="w-full h-full grid grid-cols-1 grid-rows-7 gap-4">
    <h1 class="row-start-1 text-4xl text-center text-my-purple">คอร์สที่เปิดสอน</h1>
    <div class="rwo-start-2">
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>ค้นหาคอร์สเรียน</mat-label>
            <input matInput #saerchSubjectInput />
            <button matSuffix mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
    </div>
    <div class="rwo-start-2">
        <h1>content here</h1>
    </div>
</div> -->
<div>
    <h1 class="row-start-1 text-4xl text-center text-my-purple">คอร์สที่เปิดสอน</h1>
    <div class="rwo-start-2">
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>ค้นหาคอร์สเรียน</mat-label>
            <input matInput #saerchSubjectInput />
            <button matSuffix mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
    </div>
    <div class="overflow-hidden flex flex-row justify-between flex-wrap p-4">
            <ng-container *ngIf="displaySubject$ | async as subject; else emptySubject ">
                <ng-template [ngIf]="subject.length">
                    <ng-container *ngFor="let s of subject">
                        <div class="contaier_card m-4" >
                            <mat-card
                              class="flex_col p-0 cursor-pointer"
                              (click)="selectSubject(s)"
                              matRipple
                            >
                              <div style="width: 100%">
                                <img
                                  [src]="s?.subject_image"
                                  class="image_container"
                                  onerror="this.src='assets/images/fallback.jpeg'"
                                />
                              </div>
                              <div class="p-4">
                                <div class="Htext" style="width: 100%">
                                  {{ s?.subject_name_th }}
                                </div>
                                <div style="width: 100%">
                                  {{ s?.faculty_name }}
                                </div>
                              </div>
                            </mat-card>
                          </div>
                    </ng-container>
                </ng-template>
                <ng-template [ngIf]="!subject.length">
                    <h1 class="text-2lg">ไม่พบวิชาที่ค้นหา</h1>
                </ng-template>
            </ng-container>
            
            
            <ng-template #emptySubject>
                <h1>กำลังโหลดวิชา</h1>
            </ng-template>
            
    
    </div>
</div>