
<div class="BG" *ngIf="currentTest$ | async as subject">
    <div class="BGW flex_col">
        <div class="flex_row_between">
            <div style="width: 15%;">วิชา</div>
            <div style="width: 83%;" >                
                <ng-container *ngIf="testSubjectInformation$ | async as subject">{{ subject.subject_name }}</ng-container>                
            </div>
        </div>
        <div class="flex_row_between">
            <div style="width: 15%;">จำนวน</div>
            <div style="width: 83%;">{{ subject?.test_question_number }}</div>
        </div>
        <div class="flex_row_between"  *ngIf="subject.activity_code != 'Quiz'">
            <div style="width: 15%;">เวลา</div>
            <div style="width: 83%;">{{ subject?.test_time }}</div>
        </div>
    </div>
    <br>
    <div style="text-align: center;">
        <div class="p-1">
            <button mat-raised-button  class="primary_button"  (click)="startAssignment()">เริ่มทำแบบทดสอบ</button>
         </div>
    </div>
</div>