<div>
  <div *ngIf="type == 'pre-test'" class="Htext">
    Pre-Test : แบบทดสอบก่อนเรียน
  </div>
  <div *ngIf="type == 'lesson'" class="Htext">
    {{ selectActivity?.activity_name_th }} :
    {{ selectActivity?.course_activity_name }}
  </div>
  <div *ngIf="type == 'quiz'" class="Htext">
    Quiz : ตัวอย่างประโยคในชีวิตประจำวัน
  </div>
  <div *ngIf="type == 'post-test'" class="Htext">
    Pre-Test : แบบทดสอบหลังเรียน
  </div>
</div>
<br />
<div class="BG">  
  <span [innerHTML]="test?.source_learning_video | safeHtml"></span>
  <div style="text-align: end">
    <div class="p-1">
      <button
        mat-flat-button
        style="
          width: 100px;
          color: #662d91;
          background-color: transparent;
          font-size: 20px;
          font-weight: bold;
          text-align: end;
        "
        (click)="onNext()"
      >
        ถัดไป &nbsp;
        <mat-icon
          style="
            background-color: #baadfb;
            border-radius: 20px;
            color: white;
            text-align: end;
          "
        >
          arrow_forward</mat-icon
        >
      </button>
    </div>
  </div>
</div>
