<div class="p-4 flex flex-col justify-center">
        <h1 class="text-3xl text-my-purple text-center font-bold"> ยื่นคำร้องขอใบประกาศ </h1>
        <br>
        <mat-form-field>
            <mat-label>หมายเลขบัตรประชาชน</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <div class="flex flex-row items-center">
            <span>รูปถ่าย</span>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="primary_button">อัพโหลด</button>
        </div>
        <hr>
        <div class="flex flex-row">
            <mat-checkbox>ข้าพเจ้ายินยอมให้เจ้าหน้าที่ตรวจสอบข้อมูลส่วนตัว</mat-checkbox>
        </div>
        <br>
        <div class="flex w-full">
            <button mat-raised-button class="primary_button w-full">ยื่นคำร้อง</button>
        </div>
</div>