<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <p class="text">รายละเอียดวิชา</p>
            <br>
            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>รหัสวิชา</mat-label>
                    <input matInput [(ngModel)]="datainternal.subject_code">
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ชื่อวิชา</mat-label>
                    <input matInput [(ngModel)]="datainternal.subject_name_th">
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>คณะ</mat-label>
                    <input matInput [(ngModel)]="datainternal.faculty_name">
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>อาจารย์ผู้สอน</mat-label>
                    <input matInput [(ngModel)]="datainternal.instructor_name">
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ภาษาที่ใช้</mat-label>
                    <input #fee type="text" placeholder="ภาษาที่ใช้" aria-label="Number" matInput
                        [(ngModel)]="datainternal.language_uid" [matAutocomplete]="auto3">
                    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displaylang.bind(this)">
                        <mat-option
                            *ngFor="let room of lang | searchInputAuto : datainternal.language_uid : 'language_name_th'"
                            [value]="room.language_uid">
                            {{room.language_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>ทักษะผู้เรียน</mat-label>
                    <input #skill1 type="text" placeholder="ทักษะผู้เรียน" aria-label="Number" matInput
                        [(ngModel)]="datainternal.skill_uid" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayskill.bind(this)">
                        <mat-option
                            *ngFor="let room of skill | searchInputAuto :  datainternal.skill_uid  : 'skill_name_th'"
                            [value]="room.skill_uid">
                            {{room.skill_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>Certificate</mat-label>
                    <mat-select [(ngModel)]="datainternal.is_certificate_reward">
                        <mat-option [value]="true">
                            มี
                        </mat-option>
                        <mat-option [value]="false">
                            ไม่มี
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 48%;" appearance="outline">
                    <mat-label>สถานะ</mat-label>
                    <mat-select [(ngModel)]="datainternal.status_id">
                        <mat-option [value]="1">
                            ใช้งาน
                        </mat-option>
                        <mat-option [value]="2">
                            ไม่ใช้งาน
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <p class="text">คำอธิบายรายวิชา</p>

            <div class="flex_row_between">
                <!-- <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="qu.answer_question"></editor> -->
                <div style="width: 100%;">
                    <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="datainternal.subject_description"></editor>
                </div>
            </div>
            <br>
            <h1 class="text">วัตถุประสงค์การเรียนรู้</h1>
            <div class="flex_row_between">
                <!-- <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="qu.answer_question"></editor> -->
                <div style="width: 100%;">
                    <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="datainternal.subject_purpose"></editor>
                </div>
            </div>
            <br>
            <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;"
                        (click)="save()">บันทึก</button>
                </div>
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; color: #20293A;" (click)="clear()">ยกเลิก</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>