<div class="flex flex-col w-full">
    <form [formGroup]="form">
        <mat-card>
            <mat-card-content>
                <p class="text">เพิ่มบท</p>
                <div class="flex_row_between">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>ชื่อบท</mat-label>
                        <input matInput formControlName="course_name_th">
                    </mat-form-field>
                </div>
                <br>
                <ng-container formArrayName="course_activitys">
                    <p class="text">โครงสร้าง</p>
                    <ng-container
                        *ngFor="let item of form['controls']['course_activitys']['controls'];let index = index"
                        [formGroupName]="index">
                        <div class="flex_row_between">
                            <div>{{index+1}}</div>
                            <mat-form-field style="width: 45%;" appearance="outline">
                                <mat-label>ชื่อกิจกรรม</mat-label>
                                <input matInput formControlName="course_activity_name_th">
                            </mat-form-field>
                            <mat-form-field style="width: 20%;" appearance="outline">
                                <mat-label>ประเภท</mat-label>
                                <mat-select formControlName="activity_uid">
                                        <mat-option *ngFor="let data of activity" [value]="data.activity_uid">
                                            {{data.activity_name_th}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field> 
                            <div style="width: 10%;">
                                <button mat-icon-button color="primary" (click)="search(item)">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="removeForm(index)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                            <div style="width: 20%;">
                                <div >
                                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="add(item)">สร้างเนื้อหา</button> 
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="flex_row_end">
                        <button mat-icon-button color="primary" (click)="addForm()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </ng-container>
                   
                
                
            </mat-card-content>
        </mat-card>
    </form>
    <br>
    <div class="flex_row_end">
        <div >
            <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="back()">กลับ</button> 
        </div>
    </div>

</div>