<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <h1>แสดงรายการโครงสร้างวิชา</h1>
            <div>
                <table mat-table #table [dataSource]="itemDatas" style="width: 100%;">
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef> บทที่ </th>
                        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef> ชื่อบท </th>
                        <td mat-cell *matCellDef="let element"> {{element.course_name_th}} </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef> จำนวนกิจกรรม </th>
                        <td mat-cell *matCellDef="let element"> {{element.length}} </td>
                    </ng-container> -->
    
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button mat-icon-button color="primary" [routerLink]="['/app/structure-subject/structure/edit',element.course_uid]">
                                <mat-icon>search</mat-icon>
                            </button>
                            <!-- [routerLink]="['/app/fee-comutation/edit',element.curriculum_package_uid]" -->
                            <button mat-icon-button color="primary" (click)="delete(element.course_uid)" >
                                <mat-icon>clear</mat-icon>
                            </button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="flex_row_end">
               
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="Search()">เพิ่มบท</button> 
                </div>
            </div>
        </mat-card-content>      
    </mat-card>
</div>