/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.mce-notification {display: none !important;}
.tox-notifications-container {display: none  !important;}

.mat-form-field-wrapper {
    padding: 0px !important;
}

.primary_button {
    background: linear-gradient(44.11deg, #662D91 15.75%, #9F06FF 84.63%);
    border-radius: 33px;
    color: white !important;
    min-width: 150px
}

.flex_col {
    display: flex;
    flex-flow: column;
    
    &_center {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

.flex_row {
    display: flex;
    flex-flow: row;
    flex-flow: row wrap;

    &_between {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    &_center {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &_end {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;        
    }

}