<div class="flex_row_between">
  <div *ngIf="type == 'pre-test'" class="Htext" style="width: 70%">
    {{ selectActivity?.activity_name_th }} :
    {{ selectActivity?.course_activity_name }}
  </div>
  <div class="Htext" style="width: 25%; text-align: end; color: red" *ngIf="isStartTest && !selectActivity.is_complete">
    เวลาที่เหลือ: {{ countDown$ | async | countdown }}
  </div>
</div>
<br />
<app-pre-inform (onStartTest)="isStartTest = $event "  *ngIf="!isStartTest && !selectActivity.is_complete"></app-pre-inform>
<br />
<div class="BG" *ngIf="isStartTest">
  <div class="BGW flex_col" *ngFor="let _question of test; let index = index" >
    <ng-container >
      <div class="flex_row_between">
        <div style="width: 7%">{{ index + 1 }} / {{ test?.length }}</div>
        <div style="width: 90%">
          <span [innerHTML]="_question?.question_name | safeHtml"></span>
        </div>
      </div>

      <div class="flex_row_between">
        <div style="width: 7%">
          <!-- <mat-icon *ngIf="check == true" style="color: #008000"
            >check_circle</mat-icon
          > -->
        </div>
        <br />
        <div style="width: 90%">
          <mat-radio-group
            aria-label="Select an option"
            class="example-radio-group"
            (change)="selectionChange($event,_question)"
            [value]="_question.selected_choice_uid"
          >
            <div class="example-radio-group">
              <mat-radio-button
                class="example-radio-button"
                *ngFor="let choice of _question.choices"
                [value]="choice.choice_uid"
              >
                {{ choice.choice_name }}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </ng-container>
  </div>

  <br />

  <div style="text-align: center"  *ngIf="!selectActivity.is_complete">
    <div class="p-1">
      <button
        mat-raised-button
        class="primary_button"
        style="width: 170px"
        (click)="submitTest()"
      >
        ส่งคำตอบ
      </button>
    </div>
  </div>
  <div style="text-align: end" *ngIf="selectActivity.is_complete">
    <div class="p-1">
      <button
        mat-flat-button
        style="
          width: 100px;
          color: #662d91;
          background-color: transparent;
          font-size: 20px;
          font-weight: bold;
          text-align: end;
        "
        (click)="onNext()"
      >
        ถัดไป &nbsp;
        <mat-icon
          style="
            background-color: #baadfb;
            border-radius: 20px;
            color: white;
            text-align: end;
          "
          >arrow_forward</mat-icon
        >
      </button>
    </div>
  </div>
</div>
