.example-tree-node {
    display: flex;
    align-items: center;
  }

.Htext{
    font-size: 20px;
    font-weight:400;
}

.BG{
    background-color: #F2F2F2;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    border-radius: 10px;
}

.BGW{
    background-color: white;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    border-radius: 10px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }