<div>
  <picture>
    <source type="image/webp" srcset="assets/images/bg.webp" style="position: absolute;height: 570px;z-index : -1" >
    <source type="image/png" srcset="assets/images/bg.png" style="position: absolute;height: 570px;z-index : -1" >    
    <img src="assets/images/image.png" style="position: absolute;height: 570px" />
  </picture>
  
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div id="search" class="flex_row_center rounded-lg" style="background: rgba(255, 255, 255, 0.8); position: absolute ;width: 300px; left: 40%;padding: 10px;">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>ค้นหาคอร์สเรียน</mat-label>
      <input matInput #saerchSubjectInput />
      <button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div style="background-color: white">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br />
</div>
<br />
<app-learing-course *ngIf="isAuthen$ | async" [subject]="getSubjectUndone$ | async" ></app-learing-course>

<div style="background-color: white" class="p-4">
  <div style="font-weight: 400; font-size: 30px; margin-left: 5%">
    คอร์สที่เปิดสอน
  </div>
</div>
<div
  *ngIf="subject"
  class="flex_row_between relative"
  style="background-color: white"
>
  <div style="width: 5%; text-align: start; align-self: center">
    <div
      style="width: 5%; text-align: end; align-self: center; padding-left: 10px"
    >
      <span
        matRipple
        class="cursor-pointer p-2 material-icons"
        style="background-color: #baadfb; border-radius: 20px; color: white"
        (click)="back()"
        >west</span
      >
    </div>
  </div>
  <div  class="contaier_card" *ngFor="let s of displaySubject">
    <mat-card
      class="flex_col p-0 cursor-pointer"
      (click)="next(s)"
      matRipple
    >
      <div style="width: 100%">
        <img
          [src]="s?.subject_image"
          class="image_container"
          onerror="this.src='assets/images/fallback.jpeg'"
        />
      </div>
      <div class="p-4">
        <div class="Htext" style="width: 100%" (click)="next(s)">
          {{ s?.subject_name_th }}
        </div>
        <div style="width: 100%">
          {{ s?.faculty_name }}
        </div>
      </div>
    </mat-card>
  </div>
  

  <div
    style="width: 5%; text-align: end; align-self: center; padding-right: 10px"
  >
    <span
      matRipple
      class="cursor-pointer p-2 material-icons"
      style="background-color: #baadfb; border-radius: 20px; color: white"
      (click)="nextto()"
      >east</span
    >
  </div>
</div>
<div style="background-color: white"><br /><br /><br /></div>
