<div style="background-color: white">
  <br />
  <div style="font-weight: 400; font-size: 30px; margin-left: 5%">
    กำลังเรียน
  </div>
  <ng-template [ngIf]="subject?.length">    
    <div class="flex_row_between relative" style="background-color: white">
      <div style="width: 5%; text-align: start; align-self: center">
        <div
          style="
            width: 5%;
            text-align: end;
            align-self: center;
            padding-left: 10px;
          "
        >
          <span
            matRipple
            class="cursor-pointer p-2 material-icons"
            style="background-color: #baadfb; border-radius: 20px; color: white"
            (click)="back()"
            >west</span
          >
        </div>
      </div>

      <div class="contaier_card" *ngFor="let s of displaySubject">
        <mat-card
          class="flex_col p-0 cursor-pointer"
          (click)="continuseInformationSubject(s)"
          matRipple
        >
          <div style="width: 100%">
            <img
              [src]="s?.subject_image"
              class="image_container"
              onerror="this.src='assets/images/fallback.jpeg'"
            />
          </div>
          <div class="p-4">
            <div
              class="Htext"
              style="width: 100%"
              (click)="continuseInformationSubject(s)"
            >
              {{ s?.subject_name_th }}
            </div>
            <div style="width: 100%">
              {{ s?.faculty_name }}
            </div>
          </div>
        </mat-card>
      </div>
      <div
        style="
          width: 5%;
          text-align: end;
          align-self: center;
          padding-right: 10px;
        "
      >
        <span
          matRipple
          class="cursor-pointer p-2 material-icons"
          style="background-color: #baadfb; border-radius: 20px; color: white"
          (click)="nextto()"
          >east</span
        >
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="!subject?.length"> 
    <div class="flex justify-center">
      <span class="text-2xl">
        ยังไม่มีวิชาที่กำลังเรียน
      </span>
    </div>      
  </ng-template>

  <br />
</div>
