.image_container {
    max-height: 150px;
    min-height: 150px;
    // object-fit: contain
  }
  
  .contaier_card {
    width: 300px;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
  
    &:hover {
      top: -10px;
    }
  }
  
  .example-tree-node {
      display: flex;
      align-items: center;
    }
  
  .Htext{
      font-size: 16px;
      font-weight:400;
      color:#662D91;
  
  
  }
  
  .BG{
      background-color: #F2F2F2;
      padding-left: 4%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-right: 4%;
      border-radius: 10px;
  }
  
  .BGW{
      background-color: white;
      padding-left: 4%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-right: 4%;
      border-radius: 10px;
  }
  
  .example-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
    }
    
    .example-radio-button {
      margin: 5px;
    }
  
  .bg1{
      background-color: #E8EEFC;
      padding-left: 2%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-right: 2%;
  }