.example-tree-node {
    display: flex;
    align-items: center;
  }

.Htext{
    font-size: 20px;
    font-weight:400;
}

.BG{
    background-color: #F2F2F2;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    border-radius: 10px;
}

.BGW{
    background-color: white;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    border-radius: 10px;
}
.panel{
    font-size: 16px;
    line-height: 220%;
}

.active_item {
    background-color: #DAD3FE;
    border-radius: 0px 10px 10px 0px;
    border-left: 5px solid #662D91;
    transition: 0.3s;

}

