<div class="flex flex-col w-full">
  <div class="flex_row_between">
    <div style="width: 33%">
      <mat-card>
        <mat-accordion *ngIf="informationSubject$ | async as subject">
          <mat-expansion-panel
            *ngFor="let test of subject.test_subject_information.test_informations; trackBy:trackBycourseuId; let index = index "
            [expanded]="test.course_uid == _selectActivity?.course_uid"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 16px; font-weight: 400">
                บท {{ index + 1 }} {{ test.course_name }}
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin-left: 20px">
              <ng-container *ngFor="let information of test?.test_detail_informations; trackBy:trackByCourseActivityUid">
                <div
                  class="panel box-border cursor-pointer hover:bg-purple-900 hover:text-white rounded-lg p-2"
                  [ngClass]="_selectActivity?.course_activity_uid == information?.course_activity_uid ? 'active_item' : '' "
                  (click)="selectActivity(information,test)"
                >
                
                <div class="flex items-center">
                    <ng-container *ngIf="information?.is_complete">
                        <mat-icon style="color: green"> check_circle</mat-icon>
                    </ng-container> 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    
                    <!-- {{ information?.activity_code }}: -->
                    {{ information?.activity_name_th }}:
                    {{ information?.course_activity_name }}
                </div>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
    <div style="width: 66%">
      <mat-card>
       
        <div *ngIf="type == 'pre-test' ">
          <app-pre-test
            [test]="currentTest$ | async"
            (next)="nextActivity($event)"
            [selectActivity]="_selectActivity"
            (onSubmit)="submit($event)"
            (onTimeOut)="sumbitTimeOut($event)"
          ></app-pre-test>
        </div>
        <div *ngIf="type == 'post-test' ">
          <app-post-test
            [test]="currentTest$ | async"
            (next)="nextActivity($event)"
            [selectActivity]="_selectActivity"
            (onSubmit)="submit($event)"
            (onTimeOut)="sumbitTimeOut($event)"
          ></app-post-test>
        </div>
        <div *ngIf="type == 'lesson'">
          <app-lesson
            [test]="selectCurrentTest$ | async"
            (next)="nextActivity($event)"
            [selectActivity]="_selectActivity"
          ></app-lesson>
        </div>
        <div *ngIf="type == 'quiz'">
          <app-quiz
            [test]="currentTest$ | async"
            (next)="nextActivity($event)"
            [selectActivity]="_selectActivity"
            (onSubmit)="submit($event)"
          ></app-quiz>
        </div>
        <div *ngIf="type == 'result'">
          <app-result></app-result>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- <div *ngIf="type == null">
        <app-imformation  [type]="type"></app-imformation>
    </div> -->
</div>
