<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <p class="text">คำถาม</p>
            <div class="flex_row_between">
                <!-- <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="qu.answer_question"></editor> -->
                <div style="width: 100%;">
                    <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="questions.question_name"></editor>
                </div>
            </div>
            <br>
            <p class="text">คำตอบ</p>
            <div class="flex_row_between">
                <!-- <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="qu.answer_question"></editor> -->
                <div style="width: 100%;">
                    <editor [init]="tinyMCE" [disabled]="false" [(ngModel)]="choices.choice_name"></editor>
                </div>
            </div>
            <br>
            <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;"
                        (click)="savech()">บันทึกคำตอบ</button>
                </div>
            </div>
            <br>
            <mat-card>
                <mat-card-content>
                    <h1>ตั้งค่าคำตอบ</h1>
                    <div>
                        <table mat-table #table [dataSource]="items" style="width: 100%;">
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef> คำตอบ </th>
                                <td mat-cell *matCellDef="let element"> {{element.choice_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef> เลือกคำตอบที่ถูกต้อง </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-checkbox
                                        >
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="4" >
                                <th mat-header-cell *matHeaderCellDef > คะแนน </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <mat-form-field  appearance="fill">
                                        <input matInput>
                                      </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="primary" (click)="edit(element.subject_uid)">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="delete(element.subject_uid)">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

</div>