<div>
    <div *ngIf="type == 'pretest'" class="Htext" >Pre-Test : แบบทดสอบก่อนเรียน</div>
    <div *ngIf="type == 'lesson'" class="Htext">บทเรียน : พื้นฐานภาษาอังกฤษที่ควรรู้</div>
    <div *ngIf="type == 'quiz'" class="Htext">Quiz : ตัวอย่างประโยคในชีวิตประจำวัน</div>
    <div *ngIf="type == 'posttest'" class="Htext">Pre-Test : แบบทดสอบหลังเรียน</div>
    <div *ngIf="type == 'result'" class="Htext">สรุปผลการเรียน</div>
</div>
<br>
<div class="BG">
    <div class="BGW flex_col">
        <div class="flex_row_between">
            <div style="width: 20%;">คะแนสอบก่อนเรีบย</div>
            <div style="width: 75%; color: #662D91;">3/3</div>
        </div>
        <div class="flex_row_between">
            <div style="width: 20%;">คะแนสอบหลังเรีบย</div>
            <div style="width: 75%; color: #662D91;">3/3</div>
        </div>
        <div class="flex_row_between">
            <div style="width: 20%;">ระยะเวลาที่เรียน</div>
            <div style="width: 75%;color: #662D91;">10 มีนาคม 2565 - 10 มีนาคม 2565</div>
        </div>
    </div>
    <br>
    <div class="BGW flex_col">
        <div class="flex_row_between">
            <div style="width: 20%; font-size: 22px;font-weight: 400;">สรุปผลการเรียน</div>
            <div style="width: 75%; color: #662D91;font-size: 22px;font-weight: 400;">ผ่าน</div>
        </div>
    </div>
</div>
<br>
<div style="text-align: end;">
    <div class="p-1">
        <button mat-raised-button  style="width: 170px; color: white;background-color: #662D91; font-size: 20px;font-weight: bold;" (click)="back()">กลับหน้าหลัก</button>
     </div>
</div>