<div class="w-full h-full grid grid-cols-1 grid-rows-7 gap-4">
    <h1 class="row-start-1 text-4xl text-center text-my-purple">REGISTER</h1>
    <div class="row-start-2">
        <mat-form-field class="w-full">
            <mat-label>EMAIL</mat-label>
            <input matInput placeholder="text@rmutp.ac.th" autocomplete="/off" [(ngModel)]="request.email">
        </mat-form-field>
    </div>

    <div class="row-start-3">
        <mat-form-field class="w-full">
            <mat-label>ชื่อ - นามสกุล</mat-label>
            <input matInput type="text" placeholder="รหัสผ่าน" autocomplete="/off" [(ngModel)]="request.full_name">
        </mat-form-field>
    </div>
    <div class="row-start-4">
        <mat-form-field class="w-full">
            <mat-label>คณะ</mat-label>
            <input matInput type="text" placeholder="คณะ" autocomplete="/off" [(ngModel)]="request.faculty_name">
        </mat-form-field>
    </div>
    <div class="row-start-5">
        <mat-form-field class="w-full">
            <mat-label>สาขา</mat-label>
             <input matInput type="text" placeholder="สาขา" autocomplete="/off" [(ngModel)]="request.major_name">
        </mat-form-field>
    </div>
    <div class="row-start-6">
        <mat-form-field class="w-full">
            <mat-label>รหัสผ่าน</mat-label>
            <input matInput #passwordInput type="password" placeholder="รหัสผ่าน" autocomplete="/off" [(ngModel)]="request.password">
            <button mat-icon-button matSuffix (click)="toggleType()">
                <mat-icon *ngIf="!isVisibility">visibility_off</mat-icon>
                <mat-icon *ngIf="isVisibility">visibility</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="row-start-7">
        <button mat-raised-button class="primary_button w-full" (click)="save()">ยืนยันข้อมูล</button>
    </div>

</div>