<div class="flex flex-col w-full">
    <mat-card>
        <mat-card-content>
            <div class="flex_row_between">
                <p class="text">ชื่อกิจกรรม : {{form.course_activity_name_th}} </p>
                <p class="text" style="text-align: end;">ประเภท : Quiz </p>
            </div>
            <br>
            <mat-card>
                <mat-card-content>
                    <div>
                        <table mat-table #table [dataSource]="itemDatas" style="width: 100%;">
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef> คำถาม </th>
                                <td mat-cell *matCellDef="let element"> {{element.question_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="primary" (click)="edit(element.question_uid)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="delete(element.question_uid)">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;"
                        (click)="addQu()">เพิ่มโจทย์</button>
                </div>
            </div>
            <p class="text">เงื่อนไขการใช้</p>
            <mat-card>
                <mat-card-content>
                    <div class="flex_row_between">
                        <div class="flex_col" style="width: 50%;">
                            <div class="text flex_row" style="width: 100%;">Pre-test</div>
                            <div class="flex_row" style="width: 100%;">
                                <div style="width: 20%;align-self: center;">เวลา :</div>
                                <div style="width: 40%;">
                                    <mat-form-field appearance="outline">
                                        <mat-label></mat-label>
                                        <input matInput [(ngModel)]="form.quiz_test_time">
                                        <button  matSuffix >
                                          <p>นาที</p>
                                        </button>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="flex_row" style="width: 100%;">
                                <div style="width: 20%;align-self: center;">จำนวนข้อ :</div>
                                <div style="width: 40%;">
                                    <mat-form-field appearance="outline">
                                        <mat-label></mat-label>
                                        <input matInput [(ngModel)]="form.quiz_question_number">
                                        <button  matSuffix >
                                          <p>ข้อ</p>
                                        </button>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; background-color: #20293A; color: white;" (click)="save()">บันทึก</button> 
                </div>
                 <div class="p-1">
                    <button mat-raised-button  style="width: 150px; color: #20293A;" (click)="clear()">ยกเลิก</button>
                 </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>