<div class="flex flex-col w-full">
    <picture>
        <img [src]="subject?.subject_banner_image" onerror="this.src='assets/images/fallback.jpeg'" style="position: absolute;height: 450px;">
    </picture>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <mat-card style="width: 80%;margin-left: 10%;">

        <mat-card-content>
            <div class="flex_row_between">
                <div style="width: 32%;" class="flex_col">
                    <div style="font-weight: bold;font-size: 20px;">{{subject?.subject_code}}</div>
                    <div style="color: #662D91; font-size: 18px;">{{subject?.subject_name_th}}</div>
                </div>
                <div style="width: 32%;">
                    <div style="font-weight: bold;font-size: 20px;">{{ subject?.courses.length }} บท</div>
                    <div style="color: #662D91; font-size: 18px;">&nbsp;</div>
                </div>
                <div style="width: 32%;">
                    <div style="font-weight: bold;font-size: 20px;">{{subject?.faculty_name}}</div>
                    <div style="color: #662D91; font-size: 18px;">{{subject?.instructor_name}}</div>
                </div>
            </div>
      
        </mat-card-content>
    </mat-card>
    <br>
    <div class="flex_row_between" style="width: 100%;">
        <div style="width: 65%;">
            <mat-card>
                <mat-card-content>
                    <div class="flex_col">
                        <div style="font-weight: bold;font-size: 25px;color: #662D91; text-align: start;margin-left: 5%;">
                            คำอธิบายรายวิชา
                        </div>
                        <br>
                        <div style="margin-left: 10%;">
                            <div style="font-size: 20px;">
                                <span *ngIf="subject?.subject_description_detail" [innerHtml]="subject?.subject_description_detail | safeHtml"></span> 
                            </div>
                        </div>
                        <br>
                        <div style="font-weight: bold;font-size: 25px;color: #662D91; text-align: start;margin-left: 5%;">
                            วัตถุประสงค์การเรียนรู้
                        </div>
                        <br>
                        <div style="font-size: 20px;margin-left: 10%;">
                            <span *ngIf="subject?.subject_purpose" [innerHtml]="subject?.subject_purpose  | safeHtml"></span> 
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>
        <div style="width: 33%;">
            <mat-card>
                <mat-card-content>
                    <div class="flex_col" >
                        <div style="font-weight: bold;font-size: 25px;color: #662D91; text-align: center;">
                            รายละเอียดคอร์ส
                        </div>
                        <hr>
                        <div style="margin-left: 10%;">
                            <div class="flex flex-row items-center" style="font-size: 18px;">
                                <mat-icon>chrome_reader_mode</mat-icon>
                                &nbsp;
                                จำนวนบทเรียน 
                                <span style="font-size: 18px;color: #662D91; text-align: center;">
                                   &nbsp; {{ subject?.courses?.length }} บท
                                </span> 
                            </div>
                            <br>
                            <div class="flex flex-row items-center" style="font-size: 18px;">
                                <mat-icon>translate</mat-icon>
                                &nbsp;
                                ภาษา &nbsp; <span style="font-size: 18px; color: #662D91"> {{subject?.language_uid | getDataId:language: 'language_uid': 'language_name_th':''}}</span></div>
                            <br>
                            <div class="flex flex-row items-center" class="flex flex-row items-center" style="font-size: 18px;">
                                <mat-icon>group</mat-icon>
                                &nbsp;
                                ทักษะผู้เรียน &nbsp;<span style="font-size: 18px; color: #662D91"> {{subject?.skill_uid | getDataId:skill: 'skill_uid': 'skill_name_th':''}}</span> 
                            </div>
                            <br>
                            <div class="flex flex-row items-center" style="font-size: 18px;">
                                <mat-icon>article</mat-icon>
                                &nbsp;
                                ใบประกาศ&nbsp; <span style="font-size: 18px; color: #662D91">{{ subject?.is_certificate_reward ? 'มี' : 'ไม่มี' }}</span>
                            </div>
                        </div>
                        <br>
                        <div style="text-align: center;">
                            <div class="p-1">
                                <button mat-raised-button  class="primary_button"  (click)="enroll()">ENROLL</button>
                             </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</div>