<div class="w-full h-full flex flex-col justify-between">
    <h1 class="text-4xl text-center text-my-purple">เข้าสู่ระบบ</h1>
    <mat-form-field>
        <mat-label>EMAIL</mat-label>
        <input matInput placeholder="name@rmutp.ac.th" autocomplete="/off" [(ngModel)]="request.email">
    </mat-form-field>

    <mat-form-field>
        <mat-label>รหัสผ่าน</mat-label>
        <input matInput type="password" placeholder="รหัสผ่าน" autocomplete="/off" [(ngModel)]="request.password">
    </mat-form-field>

    <button mat-raised-button class="primary_button" (click)="login()">เข้าสู่ระบบ</button>
</div>