<div>
  <div *ngIf="type == 'pretest'" class="Htext">
    Pre-Test : แบบทดสอบก่อนเรียน
  </div>
  <div *ngIf="type == 'lesson'" class="Htext">
    บทเรียน : พื้นฐานภาษาอังกฤษที่ควรรู้
  </div>
  <div *ngIf="type == 'quiz'" class="Htext">
    {{ selectActivity?.activity_name_th }} :
    {{ selectActivity?.course_activity_name }}
  </div>
  <div *ngIf="type == 'posttest'" class="Htext">
    Pre-Test : แบบทดสอบหลังเรียน
  </div>
</div>
<br />
<app-pre-inform (onStartTest)="isStartTest = $event "  *ngIf="!isStartTest && !selectActivity.is_complete"></app-pre-inform>
<br />
<div class="BG" *ngIf="isStartTest">
  <div class="BGW flex_col">
    <ng-container *ngFor="let _question of test; let index = index; trackBy:trackById">
      <div class="flex_row_between">
        <div style="width: 7%">{{ index + 1 }} / {{ test?.length }}</div>
        <div style="width: 90%">
          <span [innerHTML]="_question?.question_name | safeHtml"></span>
        </div>
      </div>
      <br />
      <div class="flex_row_between">
        <div style="width: 100%">
          <editor
            [init]="tinyMCE"
            [(ngModel)]="awsnerQuestion[index].test_question_answer"
            (onSelectionChange)="onInput(awsnerQuestion[index].test_question_answer,_question)"
          ></editor>
        </div>
      </div>
      <br>
    </ng-container>
  </div>
  <br >
  <div class="flex flex-row justify-center" *ngIf="!selectActivity.is_complete">
    <button mat-raised-button class="primary_button" (click)="submitTest()">
      ส่งคำตอบ
    </button>
  </div>
  <br />
<div style="text-align: end" *ngIf="selectActivity.is_complete">
    <div class="p-1">
      <button
        mat-flat-button
        style="
          width: 100px;
          color: #662d91;
          background-color: transparent;
          font-size: 20px;
          font-weight: bold;
          text-align: end;
        "
        (click)="onNext()"
      >
        ถัดไป &nbsp;
        <mat-icon
          style="
            background-color: #baadfb;
            border-radius: 20px;
            color: white;
            text-align: end;
          "
          >arrow_forward</mat-icon
        >
      </button>
    </div>
  </div>
</div>
