<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">
            
            <!-- <div class="flex_row_end">
                <div class="p-1">
                    <button mat-raised-button style="width: 150px; color: #20293A;" (click)="Search()">ค้นหา</button>
                </div>
            </div> -->
        </div>

    </div>


</div>